/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###


### IntelliJ IDEA ###
.idea
*.iml

### NetBeans ###

/.idea
/logs
/*.iml
/logs/
web/src/main/java/com/ninep/jubu/test/webservice/client/
web/src/main/resources/templates/
## 文档ignore
